<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdr.familytreasure">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NewMainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--高德地图定位-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="760f140763232809bcf53dbb25f18ea5" />
        <!--高德地图定位结束-->
       <!-- 测试 bd26135ac6cb64cb49e70e34b128ec39-->
       <!-- 正式 b8471c856f50ef9594c4e59afaf7d69a--><!--70aa8c6a4d9d08c473cc425b1be1971f-->

        <activity android:name=".activity.ForgetPwdActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddGuardianActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddOlderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DeviceConfigActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GuardianActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HealthActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.LostAlarmActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainCareActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.ModifyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.OlderSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PersonConfig" android:screenOrientation="portrait"/>
        <activity android:name=".activity.QrCodeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.UrlActivity" android:screenOrientation="portrait"/>
        <activity android:name=".zbar.CaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name=".amap.MapActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.EditPwdActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ForgetActivityPassword" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ForgetActivityCode" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ForgetActivityPhone" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FootprintActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.MeReportActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.MeSettingActivity" android:screenOrientation="portrait"/>


    </application>


</manifest>